In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df = pd.read_csv(r'/content/drive/MyDrive/Datasets/quikr_car.csv')

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.duplicated().sum()

In [ ]:
df.describe()

In [ ]:
df['fuel_type'].unique()

In [ ]:
df['company'].unique()

In [ ]:
df['year'].unique()

In [ ]:
df.isna().sum()

In [ ]:
df['Price'].unique()

In [ ]:
df['kms_driven'].unique()

## Cleaning

In [ ]:
backup = df.copy()

In [ ]:
df = df[df['year'].str.isnumeric()]

In [ ]:
df['year'] = df['year'].astype(int)

In [ ]:
df.info()

In [ ]:
# price Remove 'Ask for price' since there is one outlier value in the price section

In [ ]:
df  = df[df['Price'] != 'Ask For Price']

In [ ]:
def Remove_comma(text):
  text.replace(',' , '')
  return text

In [ ]:
df['Price'] = df['Price'].str.replace(',' , '')

In [ ]:
df['Price'] = df['Price'].astype(int)

In [ ]:
df['kms_driven']

In [ ]:
df['kms_driven'] = df['kms_driven'].str.split(' ').str.get(0)

In [ ]:
df['kms_driven'] = df['kms_driven'].str.replace(',' ,'')

In [ ]:
df = df[df['kms_driven'].str.isnumeric()]

In [ ]:
df.info()

In [ ]:
df['kms_driven'] = df['kms_driven'].astype(int)

In [ ]:
df['fuel_type'].unique()

In [ ]:
df = df[~df['fuel_type'].isna()]

In [ ]:
df.info()

In [ ]:
# keep the first three words of the name

In [ ]:
df['name'] = df['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [ ]:
df.reset_index(drop = True)

In [ ]:
df.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000